body {
  background-color: #ffffff;
  font-weight: 400;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 0.9fr 0.7fr 0.5fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  font-size: 18px;
}

.header__link {
  font-size: 18px;
  line-height: 1.2;
  text-underline-offset: 4px;
  color: #000000;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  display: flex;
  flex-direction: column;
  font: inherit;
  text-underline-offset: 4px;
  font-size: 18px;
  line-height: 24.3px;
}

.address_link {
  color: #000000;
}

.cover {
  position: relative;
  background-image: url(../images/photo.jpg);
  background-position: center;
  min-height: 757px;
  color: #ffffff;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}

.cover_title {
  position: relative;
  z-index: 2;
  padding: 158px 20px 97px 50px;
  font-family: 'Raleway', sans-serif, serif;
  text-transform: uppercase;
  line-height: 134px;
  font-weight: 700;
  letter-spacing: 30px;
  font-size: 100px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  padding: 0 49px 50px;
  gap: 105px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  line-height: 28px;
  z-index: 0;
}

.bet_button {
  width: 256px;
  height: 51px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.lots {
  margin: 180px 24px 120px;
}

.lots_heading {
  margin: 0px 891px 27px 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card_list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
}

.card_title {
  margin: 48px 40px 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-offset: 3px;
  z-index: 2;
  color: #ffffff;
}

.card_text {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin: 0px 40px 48px;
  z-index: 2;
  color: #ffffff;
}

.card_type_film {
  background-image: url(../images/film.jpg);
}

.card_type_book {
  background-image: url(../images/book.jpg);
}

.card_type_picture {
  background-image: url(../images/pictre.jpg);
}

.lots__look-more-link {
  display: flex;
  margin: 30px 820px 0px 40px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  margin: 0px 24px 182px;
}

.about_column {
  display: grid;
  grid-template-columns: 312px 1fr;
  padding: 31px 0 0 47px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about_title {
  padding: 102px 0 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.about_text_description-block {
  display: flex;
  flex-direction: column;
  width: 690px;
  gap: 24px;
}

.about_text {
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 82px;
  justify-content: space-between;
}

.footer_address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: inherit;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
  width: 265px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
}

.footer_menu_list_item {
  text-align: center;
  list-style-type: none;
  font-size: 18px;
  line-height: 1.2;
  text-underline-offset: 4px;
}

.footer_menu_link {
  color: #000000;
}

.footer_menu_link_active {
  text-decoration: none;
}

.footer_social_list {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 48px;
}